
.EDUCATION{
    /* width: 100%; */
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: linear-gradient( black,gray);
    padding: 30px;
}

.EDUCATION h1{
    margin: 0;
    margin-bottom: 3rem;
    margin-right: 30rem;
    color: white;
    font-size: 3rem;
    font-weight: 400;
}
.Etude{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10rem;
flex-direction: row;
margin-bottom: 5rem;
padding-bottom: 2rem;
border-bottom: 2px solid white;
}
.Etude p{
    width: 15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Etude img{
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
    filter:grayscale(100%);
    opacity: 0.8;
}
.Etude .img2{
    margin-right: 3rem;
}
.Etude h3{
    color: rgb(151, 151, 151);
}
.Etude .title2{
    margin-right: 3rem; 
}
.EDUCATION button{
    /* margin: 0.3rem ; */
    margin-left: 15rem;
width: 15rem;
height: 3rem;
background-color: red;
border: none;
padding: 1rem;
color: white;
}
.totop{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   text-decoration: none;
    animation: top 1.5s linear infinite;
}
.totop i{
    color: red; 
    font-size: 2rem;
   
    
}
  
@keyframes top {
    0%{
      transform: translateY(0rem); 
      opacity: 0.5; 
    }
    100%{
      transform: translateY(-1rem); 
      opacity: 1;
    }
}

.totop i:hover{
    color: gray; 
    font-size: 2.1rem;
  
}

@media screen and (max-width:800px) {
    .EDUCATION{ 
          flex-wrap: wrap;
          padding: 20px;
          flex-direction: column;
        }
        
        .Etude {
            /* width: 100%; */
            margin: 0;
            padding: 0px;
            
            text-align: center;
            /* gap: 15px 0; */
           flex-direction: column;
           flex-wrap: wrap;
           gap:25px;
        } 
        
        .Etude p{
            width: 15rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .Etude img{
            width: 5rem;
            height: 5rem;
            /* margin-right: 3rem; */
            filter:grayscale(100%);
            opacity: 0.8;
        }
        .Etude .img2{
            margin-right: 0;
        }
        
        .Etude .title2{
            margin-right: 0; 
        }
        .EDUCATION Button{
            /* margin: 0.3rem ; */
            margin-left: 0rem;
        width: 15rem;
        height: 3rem;
        background-color: red;
        border: none;
        padding: 1rem;
        color: white;
        }
    }